* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
img {
  cursor: pointer;
}
.container {
  background-color: rgb(26, 24, 24);
  width: 100%;
  height: 100vh;
}

/* NAVIGATION BAR  */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  padding: 20px 30px;
  background-color: rgb(26, 24, 24);
  z-index: 10;
}
.logo {
  width: 100px;
}
.nav-icons-logo {
  width: 25px;
  margin-right: 20px;
}

/* MAIN SECTION  */

.row {
  display: flex;
  height: 100%;
  width: 100%;
}
.col-1,
.col-2 {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.col-1 {
  padding-left: 8%;
}
.col-1 h1 {
  font-size: 74px;
  line-height: 100px;
}
.red-text {
  color: red;
}
.col-1 p {
  font-size: 25px;
  font-weight: 300;
  margin-top: 20px;
}
.btn {
  color: white;
  background-color: red;
  border: none;
  padding: 15px 25px;
  width: fit-content;
  margin-top: 20px;
  font-size: 15px;
  transition: translate 0.5s;
}

.col-2 {
  background-color: red;
  padding-top: 80px;
  position: relative;
}
.feature-img {
  width: 100%;
  text-align: center;
}
.feature-img img {
  width: 70%;
  transform: rotate(-20deg);
}
.small-feature-img {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  margin: 70px auto 0px;
}
.small-img {
  background-color: rgb(182, 178, 178);
  width: 80px;
  height: 80px;
}
.sl-img {
  width: 120px;
  transform: translate(-50px, 20px) rotate(-20deg);
}
.small-img:nth-child(1) {
  background-color: rgb(223, 129, 112);
}
.small-img:nth-child(2) {
  background-color: rgb(154, 152, 231);
}
.small-img:nth-child(3) {
  background-color: rgb(148, 233, 145);
}
.small-img:nth-child(4) {
  background-color: rgb(128, 212, 223);
}
.col-2 h2 {
  position: absolute;
  top: 150px;
  left: 60px;
  font-size: 80px;
  opacity: 0.3;
}
.btn:hover {
  transform: translateY(-5px);
}
